In [ ]:
#Bagthariya Mahek R.
#216270307080
#Practical No.7: Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it.
import numpy as np
import pandas as pd
details = {'Name' : ['Jal', 'Dhruvi', 'Mahek', 'Dhruti'],'Enrollment' : [82, 90, 80, 16]}
df = pd.DataFrame(details)
print(df)

In [ ]:
#Bagthariya Mahek R.
#216270307080
#Practical No.7: Write a Pandas program to implement following operation
#to sort the DataFrame first by 'name' in ascending order

import numpy as np
import pandas as pd
details = {'Name' : ['Jal', 'Dhruvi', 'Mahek', 'Dhruti'],'Enrollment' : [82, 90, 80, 16]}
df_new=df.sort_values(by=['Name'], ascending=True) # can specify multiple columns in a list as well.
print(df_new)

In [ ]:
#Bagthariya Mahek R.
#216270307080
#Practical No.7: Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame
import pandas as pd
import numpy as np

data = {
 'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
 'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
 'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
 'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
 'E': ['E1', 'E2', 'E3', 'E4', 'E5']
}

d = pd.DataFrame(data)

print("Before delete :- \n",d)

print(d.drop(['A'], axis=1))

In [ ]:
#Bagthariya Mahek R.
#216270307080
#Practical No.7: Write a Pandas program to implement following operation
#to write a DataFrame to CSV file using tab separator

import numpy as np
import pandas as pd
students = {'Student': ['Mahek', 'Dhruvi','Jal', 'Dhruti'],'RollNumber': [80, 90, 82, 16],'Grade': ['A', 'C', 'F', 'B']}
df = pd.DataFrame(students,columns =['Student', 'RollNumber','Grade'])

print("Original DataFrame")
print(df)

df.to_csv('Students.csv', sep ='\t')
new_df = pd.read_csv('Students.csv')


print('Data from Students.csv:')
print(new_df)